<h1>Chat</h1>

<article>
    <form id="chat-form">
        <input id="user-input" type="text" placeholder="e-mail">
        <input id="input-message" type="text" placeholder="escribe tu mensaje">
        <input type="submit" value="Enviar">
    </form>
</article>

<article>
    <div id="log-messages">

    </div>
</article>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>