<div>
<h1>Edicion de Lista de Productos</h1>

<h3>Agregar</h3>
<form id="products-add">
    <input type="text" id="titleAdd" placeholder="title"  required>
    <input type="text" id="descriptionAdd"  placeholder="description" required>
    <input type="text" id="priceAdd" placeholder="price" required>
    <input type="text" id="categoryAdd"  placeholder="category" required>
    <input type="text" id="codeAdd"  placeholder="code" required>
    <input type="text" id="stockAdd"  placeholder="stock" required>
    <input type="text" id="statusAdd"  placeholder="statusP" required>
    <input type="submit">
</form>

<h3>Buscar por Id</h3>
<form id="products-find">
    <input type="text" id="findId">
    <input type="submit">
</form>

<h3>Borrar por Id</h3>
<form id="products-delete">
    <input type="text" id="deleteId">
    <input type="submit">
</form>

<h3>Actualizar</h3>
<form id="products-update">
    <input type="text" id="idUp" placeholder="id">
    <input type="text" id="titleUp" placeholder="title">
    <input type="text" id="descriptionUp" placeholder="description">
    <input type="text" id="priceUp" placeholder="price">
    <input type="text" id="categoryUp" placeholder="category">
    <input type="text" id="codeUp" placeholder="code">
    <input type="text" id="stockUp" placeholder="stock">
    <input type="text" id="statusUp" placeholder="statusP">
    <input type="submit">
</form>

<h3>Lista de Productos</h3>
<ul id="product-list">  
</ul>

    <h1>Producto Buscado</h1>
    <div id="findProduct">
    </div>

   

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>