<article>
    <form action="/sessions/recovery-password" method="post">
    <header>
        <h1>recuperar Contraseña</h1>
    </header>
    <input type="email" name="email" placeholder="e-mail">
    <input type="password" name="password" placeholder="Nueva Constraseña" required>
    <footer>
        <input type="submit" value="Restablecer">
    </footer>
    <a href="/login">Iniciar Sesion</a>
    </form>
</article>